@media (min-width: 1200px) {
	.slider{
		img{
			height: 100%;
			width: 100%;
		}
	}
	.box{
		width: 40%;
	}
	.box__title{
		font-size: 1.8vw;
	}
	.mod1{
		font-size: 1.3vw;
	}
	.mod2{
		font-size: 1vw;
	}
	.mod3{
		font-size: 1.2vw;
	}
}
@media (max-width: 1200px) {
	.slider{
		img{
			height: 100%;
			width: 100%;
		}
	}
	.box{
		width: 40%;
	}
	.box__title{
		font-size: 3vw;
	}
	.mod1{
		font-size: 2.2vw;
	}
	.mod2{
		font-size: 1.5vw;
	}
	.mod3{
		font-size: 1.7vw;
	}
}
@media (max-width: 992px) {
	.slider{
		img{
			height: 100%;
			width: 150%;
		}
	}
	.box{
		width: 60%;
	}
	.box__title{
		font-size: 4vw;
	}
	.mod1{
		font-size: 3vw;
	}
	.mod2{
		font-size: 2.2vw;
	}
	.mod3{
		font-size: 3vw;
	}
}
@media (max-width: 767px) {
	.slider{
		img{
			height: 100%;
			width: 250%;
		}
	}
	.box{
		width: 100%;
	}
	.box__title{
		font-size: 8vw;
	}
	.mod1{
		font-size: 6vw;
	}
	.mod2{
		font-size: 5.2vw;
	}
	.mod3{
		font-size: 6vw;
	}
}

body {
	align-items: center;
	background: $top;
	display: flex;
	height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  $grad1 0%,$grad0 100%);
}

$animationSpeed: 60s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-100vw * 4))}
}


// Styling
.slider {
	background: $top;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100vh;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100vh;
		position: absolute;
		width: 2%;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(100vw * 5);
	}

	.slide {
		height: 110vh;
		width: 2900px;
	}
}

.wrapper{
	height: 100vh;
	width: 100vw;
	display: flex;
	background: $top;
}
.container-absolute{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
	background: none;
	position: absolute;
	height: 100vh;
}
.box{
	overflow: scroll;
	max-width: 2000px;
	height: 100vh;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	display: flex;
	background: rgba(24, 26, 37, 0.5);
	.box__title{
		padding-top: 50px;
		height: fit-content;
		margin:  50px 0 0 0;
		color: $text;
		font-weight: lighter;
	}
	.box__subtitle{
		height: fit-content;
		text-align: center;
	}
}

.mod1{
	color: gold;
	font-weight: bold;
}
.mod2{
	color: $text;
	font-weight: normal;
}
.mod3{
	text-align: center;
	color: $top;
	font-weight: bolder;
	background: rgba(0, 255, 92, 0.8);
	border-radius: 80px;
}
